__pycache__/
checkpoints/
logs/
.ipynb_checkpoints/
models/*/
*.out
*.egg-info/
run_sbatch.sbatch
slurm/
scripts/cooper/evaluation_results/
scripts/cooper/training/copy_testset.py
scripts/rizzoli/upsample_data.py
scripts/cooper/training/find_rec_testset.py
synapse-net-models/
scripts/portal/upscale_tomo.py
